:root {
	/* @link https://utopia.fyi/space/calculator?c=320,21,1.2,1140,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
	--space-3xs: clamp(0.31rem, calc(0.29rem + 0.12vw), 0.38rem);
	--space-2xs: clamp(0.69rem, calc(0.66rem + 0.12vw), 0.75rem);
	--space-xs: clamp(1rem, calc(0.95rem + 0.24vw), 1.13rem);
	--space-s: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
	--space-m: clamp(2rem, calc(1.9rem + 0.49vw), 2.25rem);
	--space-l: clamp(2.63rem, calc(2.48rem + 0.73vw), 3rem);
	--space-xl: clamp(3.94rem, calc(3.72rem + 1.1vw), 4.5rem);
	--space-2xl: clamp(5.25rem, calc(4.96rem + 1.46vw), 6rem);
	--space-3xl: clamp(7.88rem, calc(7.44rem + 2.2vw), 9rem);

	/* @link https://utopia.fyi/type/calculator?c=320,21,1.2,1140,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
	--font-1: clamp(0.91rem, calc(0.89rem + 0.1vw), 0.96rem);
	--font-2: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.2rem);
	--font-3: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
	--font-4: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
	--font-5: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
	--font-6: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
	--font-7: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
	--font-8: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
}
*,
*::before,
*::after {
	box-sizing: border-box;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}
html,
body {
	margin: 0;
}
